@keyframes image-fade-animation {
    from {
        opacity: 0;
        border: solid 4px var(--green-fade);
    }

    to {
        opacity: 1;
        border: solid 4px var(--green);
    }
}

@keyframes header-fade-animation {
    from {
        color: var(--black-fade);
    }
    to {
        color: var(--black);
    }
}

@keyframes shadow-fade-animation {
    from {
        background-color: var(--green-fade);
    }
    to {
        background-color: var(--green);
    }
}

@keyframes text-fade-animation {
    from {
        color: var(--black-fade);
    }
    to {
        color: var(--black);
    }
}

@keyframes button-hover-in-animation {
    from {
        box-shadow: none;
    }
    to {
        box-shadow: 4px 4px var(--dark-grey);
    }
}

@keyframes button-hover-out-animation {
    from {
        box-shadow: 4px 4px var(--dark-grey);
    }
    to {
        box-shadow: none;
    }
}

