body {
    font-size: 12px;
}

header {
    display: flex;

    align-items: center;
    justify-content: space-evenly;

    width: 90%;
    height: 100vh;
}

button#page-top {
    top: 2vh;
    right: 2vw;
}

img#profile-picture {
    width: 25vw;
    height: 25vw;
    margin-right: 30px;

    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: image-fade-animation;
}

div#name-container h1 {
    margin: auto;
    padding-left: 5px;
    animation-name: header-fade-animation;
    animation-delay: 0.5s;
    animation-fill-mode: both;
    animation-duration: 1s;
}

p#about-me {
    animation-delay: 1s;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-name: text-fade-animation;
}

div#shadow {
    top: 15px;
    width: 212px;
    height: 15px;
    
    animation-delay: 0.5s;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: shadow-fade-animation;
}

ul#links {
    position: absolute;
    top: 0px;
    left: 0px;

    margin: 0 20px 0 0;
    padding: 10px 0 6px 6px;

    width: 90vw;
    font-size: 14px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

ul#links li {
    margin: 0 30px 0 30px;
}

ul#links li a {
    border-bottom: solid 4px var(--green);
}

ul#links li:nth-of-type(1) {
    display: none;
}

span#additional-info {
    display: none;
}
main {
    position: relative;
}

div#vertical-line {
    width: 20px;
    height: 96%;
    z-index: -1;
    position: absolute;
    top: 70px;
    left: 50%;
    margin-left: -10px;
    border-radius: 10px;
    background-color: var(--green);
}

div.article-container {
    flex-direction: column;
}

div.article-container article {
    width: 80%;
}

section > h1:nth-of-type(odd) {
    width: 100%;
    max-height: 155px;
}
